/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 100px;
    text-align: justify;
    color: rgb(20, 20, 20);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("4.jpeg");
    background-repeat: no-repeat;
   
}
.titulo{
    text-align: center;
    font-size: larger;
}

.img1{
    height: 600px;
    width: 1000px;
    background-image: url("fondo\ 3.jpg");
    background-repeat: no-repeat;
    background-position: 500px;
}