/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 100px;
    text-align: justify;
    color: rgb(255, 255, 255);
}
.principal{
   display: flex;
     
}
body{
   background-image: url("mejorado.webp");
    background-repeat: no-repeat;
}
.titulo{
    text-align: center;
    font-size: larger;
}

.img1{
    height: 922px;
    width: 1368px;
    background-image: url("fondo\ 6.png");
    background-repeat: no-repeat ;
    display: flex;
}