.conenedor{
width: 100%;
height: 1200px;
display: flex;
flex-direction: column;
}

.encabezado{
    width: 100%;
    height: 30px;
    background-color: aqua;
    font-size: 20px;
    text-align: center;
}

.titulotec{
    width: 100%;
    height: 30px;
    background-color: blueviolet;
    font-size: 20px;
    text-align: center;
}

.tec{
    width: 100%;
    height: 195px;
    background-color: rgb(25, 163, 12);
    font-size: 17px;
    text-align: justify;
}

.tituloing{
    width: 100%;
    height: 30px;
background-color: blue;
font-size: 20px;
text-align: center;
}

.ing{
    width: 100%;
    height: 1300px;
    background-color: rgb(14, 240, 89);
    font-size: 17px;
    text-align: justify;
}

.titulosoc{
    width: 100%;
    height: 30px;
    background-color: coral;
    font-size: 20px;
    text-align: center;
}

.soc{
    width: 100%;
    height: 219px;
    background-color: cyan;
    font-size: 17px;
    text-align: left;
}
